
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:white;
    font-family: sans-serif;
}
header{
   position: fixed;
   left: 0;
   right: 0;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto; 
    height: 80px;
}
.logo{
width: 150px;

}
.menu{
  width: 50%;
  
  display: flex;
  justify-content: space-between;
}
.menu a{
    color:white;
    position: relative;
    font-size: 18px;
    text-transform: capitalize;
    
}
.menu a::after{
content: "";
position: absolute;
width: 0px;
height: 2px;
background:red;
bottom: -5px;
left: 0;
transition: .4s;
}
.menu a:hover::after{
   width: 100%; 
}
.social{
width: 7%;
display: flex;
justify-content:space-between;
}
i{
    color:white;
    font-size: 20px;
    transition: .4s;
}
i:hover{
    color:red;
    transform: scale(1.3);
}
.hero{
    width: 100%;
    height: 100vh;
    background: url("img/bg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.text{
 width: 90%;
 margin: auto;
}
.text h2{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 20px;
}
.text h1{
  font-size: 65px;
  text-transform: capitalize;
 margin-bottom: 20px; 
}
.text h1 span{
  color: red;  
}
.text p{
 margin-bottom: 20px;
 text-transform: capitalize;
}
button{
   height: 50px;
   padding: 5px;
   width: 200px; 
   border: none;
   outline: none;
   border-radius: 15px;
   color: white;
   font-size: 18px;
   text-transform: capitalize;
   font-weight: bold;
   background: red;
   transition: .4s;  
}
button:hover{
    background: transparent;
    border: 2px solid red;
   
}
